
.card{
    display: flex;
    color:  #f8e8db;
    width: 400px;
    height: 150px;
    background-color: #231f20;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    border: solid #231f20;
    border-radius: 5px;
    padding: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.219);
}

input{
    padding: 5px;
    border: none;
    outline: none;
    border: solid none;
    border-radius: 5px;
}

button{
    padding: 5px;
    border: none;
    outline: none;
    border-radius: 15px;
    background-color: #358b2a;
    color: white;
    width: 100px;
    height: 30px;
    transition: 0.2s
}

.card-delete{
    display: flex;
    color:  #f8e8db;
    width: 400px;
    height: 150px;
    background-color: #231f20;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 25%);
    border: solid #231f20;
    border-radius: 5px;
    padding: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.219);
}



body{
    height: 100vh;
    margin: 0;
    background: color #f5f5f5;
    background-size: cover;
    backdrop-filter: blur(5px);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;    
}

.card-delete{
    display: flex;
    justify-content: center;
    color: #ffffff;
    border: solid #231f20 5px;
    border-radius: 5px;
}


.imagemCard{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}


button:hover{
    background-color: #295f19;
    color: #cecece;
    cursor: pointer;
}


.tituloDelete{
    padding-bottom:75px;
}

.label{
    height: 40px;
    width: 60px;
    border: solid #231f20;
    border-radius: 5px;
    color: #231f20;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -500%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.219);
}
.label:hover{
    background-color: #231f20;
    color: #ffffff;
}

select {
    width: 250px;
    height: 50px;
    border-radius: 20px;
}

select:hover, select:focus{
    outline: none;
}

select option {
    background-color: #ffffff; 
    color:black; 
    border-radius: 20px;
}

select option:checked {
    font-weight: bold;
}

.file-input {
    position: relative;
}

#arquivo {
    display: none;
}

.file-label {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8e8db;
    border: 1px solid #231f20;
    border-radius: 5px;
    cursor: pointer;
}

.file-label i {
    margin-right: 5px;
}

.file-label:hover {
    background-color: #ffffff;
}

.arquivo{
    padding: 20px;
}